* {
  box-sizing: border-box;
}

:root {
  /* Base colors */
  --body-bg-clr: hsl(29, 53%, 90%);

  --recipe-bg-clr: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 85%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  /* Font weights */
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}

@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: 'outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

body {
  background-color: var(--body-bg-clr);
  font-family: 'outfit', sans-serif;
  margin: 7.6rem auto;
  max-width: 768px;
  padding: 0 1rem;
}

.container {
  background-color: var(--recipe-bg-clr);
  border-radius: 1rem;
  padding: 2.5rem;
}

.recipe__image {
  border-radius: 0.65rem;
  display: block;
  width: 100%;
}

/* Typography */
.recipe__title,
.recipe__section-title {
  font-family: 'Young Serif', serif;
  font-weight: var(--fw-regular);
}

.recipe__title {
  color: var(--stone-900);
  font-size: clamp(2rem, 2.5vw, 2.5rem);
}

.recipe__prep-title {
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  font-weight: var(--fw-semibold);
}

.recipe__section-title {
  font-size: clamp(1.67rem, 2.5vw, 1.75rem);
}

.recipe__paragraph {
  font-size: 1rem;
}

ul li::marker {
  font-size: 0.75rem;
}

ol li::marker {
  font-weight: var(--fw-bold);
}

/* Colors */
.recipe__section-title,
.recipe__list-item::marker {
  color: var(--brown-800);
}

.recipe__paragraph,
.recipe__list-item {
  color: var(--stone-600);
}

.recipe__prep-title,
.recipe__prep-time li::marker {
  color: var(--rose-800);
}

b {
  color: var(--stone-600);
}

/* Spacing */
.recipe__title,
.recipe__section-title,
.recipe__prep-title {
  margin-bottom: 0;
}

.recipe__title {
  margin-top: 2.75rem;
  line-height: 1;
}

.recipe__paragraph,
.recipe__list-item {
  line-height: 1.5;
}

.recipe__list-item {
  padding: 0 1rem 0.5rem 1rem;
}

.recipe__prep-time {
  padding: 1.45rem 1.8rem;
  padding-bottom: 0.5rem;
}

ul,
ol {
  padding: 0;
  padding-left: 1.45rem;
}

ul {
  margin-top: 0.85rem;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid var(--light-gray);
}

th,
td {
  padding: 0.8rem 2rem;
  text-align: left;
}

th {
  color: var(--stone-600);
  font-weight: var(--fw-regular);
}

td {
  color: var(--brown-800);
  font-weight: var(--fw-bold);
}

tr:last-child {
  border-bottom: none;
}

tr:last-child th,
tr:last-child td {
  padding-bottom: 0;
}

/* Utility */
.separator {
  border-bottom: 1px solid var(--light-gray);
  margin: 1.75em 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  body {
    background-color: var(--recipe-bg-clr);
  }

  body,
  .container {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 1rem;
  }

  .recipe {
    padding: 0 2.5rem;
  }

  .container,
  .recipe__image {
    border-radius: 0;
  }
}
